---
layout: page
---
<section class="module-extra-small" id="services">
    <div class="container" id="services-s">
        <div class="row">
            <div class="col-xs-12">
                <div class="post-masonry">
                    {% for image in site.static_files %}
                        {% if image.path contains 'images/gallery' %}
                        <div class="col-xs-6 gallery-item">
                            <div class="gallery-image"><a class="gallery" href="{{ site.baseurl }}{{ image.path }}"><img src="{{ site.baseurl }}/assets/images/thumb/{{ image.name }}" />
                                <div class="gallery-caption">
                                    <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                </div></a></div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>