$text-color: #333333;
$lighter-text-color: lighten($text-color, 35);
$bg-color: #ffffff;
$inverse-text-color: #cccccc;
$inverse-bg-color: #cccccc;

$io-pink: #ff4a72;
$io-purple: #8a1746;
$io-blue: #262e32;
$io-red: #ff4d46;
$io-gray-blue: #839eac;
$io-clear-blue: #e8f1f5;
$io-orange: #ffa467;
