$bg-color: #ffffff;
$inverse-text-color: #cccccc;
$inverse-bg-color: #cccccc;

$main-white: #fffbf1;
$text-color: $main-white;
$lighter-text-color: lighten($text-color, 35);
$io-blue: #262e32;
$io-red: #ff4d46;
$io-gray-blue: #839eac;
$io-clear-blue: #e8f1f5;
$io-orange: #ffa467;
